<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colin.mapper.FileMapper">
    <insert id="insertAccessories">
        insert into accessories(u_id,name,address) value(#{user.id},#{name},#{address})
    </insert>
    <select id="selectAccessoriesCountByUid" resultType="java.lang.Integer">
        select count(*) from accessories where u_id = #{id}
    </select>
    <select id="selectAccessoriesByUid" resultType="com.colin.bean.Accessories">
        select name,address from accessories where u_id = #{id}
    </select>
</mapper>